In [1]:
# !pip install gensim

In [2]:
# # check scikit-learn version
# import sklearn
# print(sklearn.__version__)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer

df=pd.read_csv(r'part_1_customerServiceTwitterHandle.csv',sep=',', header=0, low_memory=False)

In [4]:
df.dropna(subset = ['message'], axis = 0, inplace = True)

In [5]:
df['message'].isnull().sum()

0

In [6]:
customer = pd.DataFrame()
customer['message'] = df['message'].copy()

In [7]:
customer.head(20)

                                              message
0   @1800flowershelp It's Mrs Wright and I no long...
1                              @1800flowershelp I did
2   @1800flowershelp It's cool. Still crickets fro...
3   @1800flowershelp Thanks, Alex. I was fine unti...
4   @1800flowershelp I ordered flowers for a colle...
5                            @1800flowershelp Dm sent
6   @1800flowershelp your service is terrible. I w...
7                           @1800flowershelp ðð¾
8                            @1800flowershelp DM sent
9   goo.gl/images/KobUwp This is how I feel @1800f...
10  @1800flowershelp @JCWright13 How about you rep...
11                             @1800flowershelp I did
12  @1800flowershelp Iâm currently chatting with...
13  @1800flowershelp Thank you for your fast reply...
14  @1800flowershelp Ok I should be upset because ...
15  @1800flowershelp I have spoken to customer ser...
16  @1800flowershelp You cannot assist me, you wer...
17  @1800flowershelp I am sorry, yesterday was a b...
18  @1800flowershelp I've already been through it ...
19        @1800flowershelp Just dm'd @1800flowershelp

In [8]:
# pip install nltk

In [9]:
# nltk.download('punkt')

In [10]:
customer_processed = pd.DataFrame(columns = ['message'])

In [11]:
import re
import nltk
for string in customer['message']:
    res = re.sub(r"(?:\@|http?\://|https?\://|www|[^\w\s])\S+", "", string)
    res = re.sub(r"[^\w\s]", "", res)
    res = re.sub(r'[0-9]+', '', res)
    res = re.sub(r'[?|$|_|.|!]+',r'', res)
    res = re.sub(r'\b\w{1,2}\b', "", res)
    tokens = nltk.word_tokenize(res)
    if len(tokens)<=3: continue;
    res = " ".join(tokens)
    customer_processed = customer_processed._append({'message': res}, ignore_index = True)

In [12]:
customer_processed.shape

(25644, 1)

In [13]:
customer.tail()

                                                 message
46210  RT @zumiez @mares182 Hit up @zumiezhelp and th...
46211  @zumiez @zumiezhelp Can y'all get a message to...
46212  Need help or have questions about your order? ...
46213                        @zumiezhelp DM sent. Thanks
46214  @zumiezhelp I was told to DM u so can u follow...

In [14]:
df1=pd.read_csv(r'Non customer tweets.csv',sep=',', header=0, low_memory=False)

In [15]:
df1.dropna(subset = ['message'], axis = 0, inplace = True)

In [16]:
non_customer = pd.DataFrame()
non_customer['message'] = df1['message'].copy()

In [17]:
non_customer['message']

0       I j_u_st ____ entered QVC & HSN's Black Friday...
1       AutoNation $AN PT Lowered to $38.00 at Bucking...
2       Le Chat Noir Thanksgiving Pilgrim available at...
3       Sysco AS,  acquired Basecare #acquisition  #mn...
4       Happy Halloween from the PETTY-est person I kn...
                              ...
3144    Gymboree Almost Everything $19.99 and Under. C...
3145    Mason thinks he was born from the land down un...
3146    Thanks to all the pastors and church leaders i...
3147    Clouds alpha Key> shutterstock.com/video/clip-...
3148                    Supporting our #BCreative Sponsor
Name: message, Length: 3146, dtype: object

In [18]:
non_customer_processed = pd.DataFrame(columns = ['message'])

In [20]:
for string in non_customer['message']:
    res = re.sub(r"(?:\@|http?\://|https?\://|www|[^\w\s])\S+", "", string)
    res = re.sub(r"[^\w\s]", "", res)
    res = re.sub(r'[0-9]+', '', res)
    res = re.sub(r'[?|$|_|.|!]+',r'', res)
    res = re.sub(r'\b\w{1,2}\b', "", res)
    tokens = nltk.word_tokenize(res)
    if len(tokens)<=3: continue;
    res = " ".join(tokens)
    non_customer_processed = non_customer_processed._append({'message': res}, ignore_index = True)

In [21]:
non_customer_processed.shape

(2848, 1)

In [22]:
non_customer.head(10)

                                             message
0  I j_u_st ____ entered QVC & HSN's Black Friday...
1  AutoNation $AN PT Lowered to $38.00 at Bucking...
2  Le Chat Noir Thanksgiving Pilgrim available at...
3  Sysco AS,  acquired Basecare #acquisition  #mn...
4  Happy Halloween from the PETTY-est person I kn...
5  Top 10 Winn Dixie Sales with Coupon Matchups F...
6  Tech students ranking items needed for survivi...
7  AutoNation $AN Price Target Cut to $38.00 amer...
8  Beautiful day yesterday. #flyfishing was lousy...
9  Save the Date! Our 1st #TaylormillerHSD #Wareh...

In [23]:
customer_processed['flag'] = '1'

In [24]:
non_customer_processed['flag'] = '0'

In [25]:
non_customer_processed.shape

(2848, 2)

In [26]:
data = customer_processed[:3152].copy()

In [27]:
data = data._append(non_customer_processed)

In [28]:
# data.to_csv('data.csv', index = None)

In [29]:
# Count vectorization of text
from sklearn.feature_extraction.text import CountVectorizer
 
# Ticket Data
corpus = data['message'].values
 
# Creating the vectorizer
vectorizer = CountVectorizer(stop_words='english')
 
# Converting the text to numeric data
X = vectorizer.fit_transform(corpus)
 
# print(vectorizer.get_feature_names())
 
# Preparing Data frame For machine learning
# flag column acts as a target variable and other columns as predictors
CountVectorizedData = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out(), index=None)
# CountVectorizedData.flags.allows_duplicate_labels = False
CountVectorizedData.index = data['message'].index
CountVectorizedData['flag'] = data['flag']
# print(CountVectorizedData['flag'])
# print(CountVectorizedData.shape)
# CountVectorizedData.tail()

In [30]:
import gensim
#Loading the word vectors from Google trained word2Vec model
GoogleModel = gensim.models.KeyedVectors.load_word2vec_format(r'GoogleNews-vectors-negative300.bin', binary=True,)

ModuleNotFoundError: No module named 'gensim'

In [30]:
# Each word is a vector of 300 numbers
GoogleModel['hello'].shape

(300,)

In [31]:
# Creating the list of words which are present in the Document term matrix
WordsVocab=CountVectorizedData.columns[1:-1]

# Printing sample words
WordsVocab[0:10]

Index(['aaallll', 'aaron', 'aaxa', 'abandoned', 'abandonment', 'abbey', 'abc',
       'abcactionnews', 'abcn', 'abercrombie'],
      dtype='object')

In [32]:
# Defining a function which takes text input and returns one vector for each sentence
def FunctionText2Vec(inpTextData):
    # Converting the text to numeric data
    X = vectorizer.transform(inpTextData)
    CountVecData=pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())
    
    # Creating empty dataframe to hold sentences
    W2Vec_Data=pd.DataFrame()
    
    # Looping through each row for the data
    for i in range(CountVecData.shape[0]):

        # initiating a sentence with all zeros
        Sentence = np.zeros(300)

        # Looping thru each word in the sentence and if its present in 
        # the Word2Vec model then storing its vector
        for word in WordsVocab[CountVecData.iloc[i,:]]:
            #print(word)
            if word in GoogleModel.key_to_index.keys():    
                Sentence=Sentence+GoogleModel[word]
        # Appending the sentence to the dataframe
        W2Vec_Data=W2Vec_Data.append(pd.DataFrame([Sentence]))
    return(W2Vec_Data)

In [33]:
# Calling the function to convert all the text data to Word2Vec Vectors
W2Vec_Data=FunctionText2Vec(data['message'])

# Checking the new representation for sentences
W2Vec_Data.shape

C:\Users\shobh\anaconda3\envs\Project\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

(6000, 300)

In [34]:
W2Vec_Data.head(5)

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,-0.008362,1.023438,0.785156,1.468750,0.098633,-1.093750,-1.476562,-0.886719,0.558594,-0.085449,...,0.028320,0.664062,1.054688,2.406250,-0.914062,-2.75000,-0.667969,-1.398438,1.054688,1.453125
0,-0.004181,0.511719,0.392578,0.734375,0.049316,-0.546875,-0.738281,-0.443359,0.279297,-0.042725,...,0.014160,0.332031,0.527344,1.203125,-0.457031,-1.37500,-0.333984,-0.699219,0.527344,0.726562
0,-0.018814,2.302734,1.766602,3.304688,0.221924,-2.460938,-3.322266,-1.995117,1.256836,-0.192261,...,0.063721,1.494141,2.373047,5.414062,-2.056641,-6.18750,-1.502930,-3.146484,2.373047,3.269531
0,-0.015678,1.918945,1.472168,2.753906,0.184937,-2.050781,-2.768555,-1.662598,1.047363,-0.160217,...,0.053101,1.245117,1.977539,4.511719,-1.713867,-5.15625,-1.252441,-2.622070,1.977539,2.724609
0,-0.005226,0.639648,0.490723,0.917969,0.061646,-0.683594,-0.922852,-0.554199,0.349121,-0.053406,...,0.017700,0.415039,0.659180,1.503906,-0.571289,-1.71875,-0.417480,-0.874023,0.659180,0.908203

In [35]:
# Comparing the above with the document term matrix
CountVectorizedData.shape

(6000, 10291)

In [36]:
# Adding the target variable
W2Vec_Data.reset_index(inplace=True, drop=True)
W2Vec_Data.index=CountVectorizedData.index
W2Vec_Data['flag']=CountVectorizedData['flag']

# Assigning to DataForML variable
DataForML=W2Vec_Data

In [37]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scaler = MinMaxScaler()
scalers = scaler.fit(DataForML[DataForML.columns[:-1]])

In [45]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(DataForML, shuffle = True, test_size=0.2)

In [46]:
train_x = pd.DataFrame()
train_y = pd.DataFrame()
test_x = pd.DataFrame()
test_y = pd.DataFrame()

In [47]:
train_x = train[train.columns[:-1]].values
train_y = train[train.columns[-1]].values
test_x= test[test.columns[:-1]].values
test_y = test[test.columns[-1]].values

In [50]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, f1_score

classifier = LogisticRegression(C=10,penalty='l2', solver='newton-cg')
# classifier = KNeighborsClassifier(n_neighbors=15)
# classifier = tree.DecisionTreeClassifier(max_depth=20,criterion='gini')
classifier.fit(train_x, train_y)
pred = classifier.predict(test_x)
# print(pred.shape)

# pred = pd.DataFrame(pred, columns=['flag'])
# pred.index = test_y.index
# print(pred.tail(10))

score = accuracy_score(test_y, pred)
print(confusion_matrix(test_y, pred))
print(classification_report(test_y, pred))
print("Accuracy:", score)

[[199 363]
 [177 461]]
              precision    recall  f1-score   support

           0       0.53      0.35      0.42       562
           1       0.56      0.72      0.63       638

    accuracy                           0.55      1200
   macro avg       0.54      0.54      0.53      1200
weighted avg       0.55      0.55      0.53      1200

Accuracy: 0.55

In [255]:
>>> set(test_y) - set(pred)

set()